dataset/findit/*
dataset/findit2_raw/*

dataset/findit2/train/forged/*
dataset/findit2/test/forged/*
dataset/findit2/val/forged/*

dataset/findit2/train/not_forged/*
dataset/findit2/test/not_forged/*
dataset/findit2/val/not_forged/*

!dataset/findit2/train/forged/.gitkeep
!dataset/findit2/test/forged/.gitkeep
!dataset/findit2/val/forged/.gitkeep

!dataset/findit2/train/not_forged/.gitkeep
!dataset/findit2/test/not_forged/.gitkeep
!dataset/findit2/val/not_forged/.gitkeep

.DS_Store